################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VtkQtDicom/.vs/VtkQtDicom/v16
/QtDicomVtk/.vs/QtDicomVtk/v16
/QtDicomVtk/x64/Debug
*.obj
*.obj
QtDicomVtk/x64/Release/main.obj
*.props
*.log
*.vcxproj
*.props
*.log
*.exe
*.log
*.obj
*.tlog
*.tlog
*.obj
QtDicomVtk/x64/Release/main.obj
QtDicomVtk/x64/Release/moc/moc_QtDicomVtk.cpp
QtDicomVtk/x64/Release/moc_QtDicomVtk.obj
QtDicomVtk/x64/Release/qt_work.log
QtDicomVtk/x64/Release/QtDicomVtk.exe
QtDicomVtk/x64/Release/QtDicomVtk.log
QtDicomVtk/x64/Release/QtDicomVtk.obj
QtDicomVtk/x64/Release/QtDicomVtk.tlog/CL.command.1.tlog
QtDicomVtk/x64/Release/QtDicomVtk.tlog/CL.read.1.tlog
QtDicomVtk/x64/Release/QtDicomVtk.tlog/QtDicomVtk.write.1u.tlog
QtDicomVtk/x64/Release/main.obj
QtDicomVtk/x64/Release/main.obj
QtDicomVtk/x64/Release/moc_QtDicomVtk.obj
QtDicomVtk/x64/Release/QtDicomVtk.exe
QtDicomVtk/x64/Release/QtDicomVtk.log
QtDicomVtk/x64/Release/QtDicomVtk.obj
QtDicomVtk/x64/Release/QtDicomVtk.tlog/CL.command.1.tlog
QtDicomVtk/x64/Release/QtDicomVtk.tlog/CL.read.1.tlog
QtDicomVtk/x64/Release/QtDicomVtk.tlog/QtDicomVtk.write.1u.tlog
QtDicomVtk/x64/Release/main.obj
QtDicomVtk/x64/Release/main.obj
QtDicomVtk/x64/Release/moc_QtDicomVtk.obj
QtDicomVtk/x64/Release/qmake/qtvars_x64_Release.props
QtDicomVtk/x64/Release/qmake/temp/qtvars.log
QtDicomVtk/x64/Release/qmake/temp/qtvars.vcxproj
QtDicomVtk/x64/Release/qmake/temp/qtvars_x64_Release.props
QtDicomVtk/x64/Release/qrc_QtDicomVtk.obj
QtDicomVtk/x64/Release/QtDicomVtk.Build.CppClean.log
QtDicomVtk/x64/Release/QtDicomVtk.exe
QtDicomVtk/x64/Release/QtDicomVtk.log
QtDicomVtk/x64/Release/QtDicomVtk.obj
QtDicomVtk/x64/Release/QtDicomVtk.tlog/CL.command.1.tlog
QtDicomVtk/x64/Release/QtDicomVtk.tlog/CL.read.1.tlog
QtDicomVtk/x64/Release/QtDicomVtk.tlog/QtDicomVtk.write.1u.tlog
QtDicomVtk/x64/Release/uic/ui_QtDicomVtk.h
QtDicomVtk/x64/Release/main.obj
QtDicomVtk/x64/Release/moc_QtDicomVtk.obj
QtDicomVtk/x64/Release/main.obj
QtDicomVtk/x64/Release/qmake/qtvars_x64_Release.props
QtDicomVtk/x64/Release/qmake/temp/qtvars.log
QtDicomVtk/x64/Release/qmake/temp/qtvars.vcxproj
QtDicomVtk/x64/Release/qmake/temp/qtvars_x64_Release.props
QtDicomVtk/x64/Release/qrc_QtDicomVtk.obj
QtDicomVtk/x64/Release/qt_work.log
QtDicomVtk/x64/Release/QtDicomVtk.Build.CppClean.log
QtDicomVtk/x64/Release/QtDicomVtk.exe
QtDicomVtk/x64/Release/QtDicomVtk.log
QtDicomVtk/x64/Release/QtDicomVtk.obj
QtDicomVtk/x64/Release/QtDicomVtk.tlog/CL.command.1.tlog
QtDicomVtk/x64/Release/QtDicomVtk.tlog/CL.read.1.tlog
QtDicomVtk/x64/Release/QtDicomVtk.tlog/QtDicomVtk.write.1u.tlog
QtDicomVtk/x64/Release/main.obj
QtDicomVtk/x64/Release/moc_QtDicomVtk.obj
QtDicomVtk/x64/Release/QtDicomVtk.exe
QtDicomVtk/x64/Release/QtDicomVtk.obj
QtDicomVtk/x64/Release/QtDicomVtk.tlog/CL.read.1.tlog
QtDicomVtk/x64/Release/QtDicomVtk.tlog/QtDicomVtk.write.1u.tlog
QtDicomVtk/armstl/arm.stl
QtDicomVtk/armstl/license.txt
QtDicomVtk/QtDicomVtk.vcxproj.user
QtDicomVtk/skeletonstl/humanskeleton.stl
QtDicomVtk/skeletonstl/license.txt
QtDicomVtk/vaderstl/vader.stl
QtDicomVtk/vaderstl/vader_rotated.stl
QtDicomVtk/x64/Release/main.obj
QtDicomVtk/x64/Release/moc_QtDicomVtk.obj
QtDicomVtk/x64/Release/qmake/qtvars_x64_Release.props
QtDicomVtk/x64/Release/qmake/temp/qtvars.log
QtDicomVtk/x64/Release/qmake/temp/qtvars.vcxproj
QtDicomVtk/x64/Release/qmake/temp/qtvars_x64_Release.props
QtDicomVtk/x64/Release/qrc_QtDicomVtk.obj
QtDicomVtk/x64/Release/qt_work.log
QtDicomVtk/x64/Release/QtDicomVtk.Build.CppClean.log
QtDicomVtk/x64/Release/QtDicomVtk.exe
QtDicomVtk/x64/Release/QtDicomVtk.obj
QtDicomVtk/x64/Release/QtDicomVtk.tlog/CL.command.1.tlog
QtDicomVtk/x64/Release/QtDicomVtk.tlog/CL.read.1.tlog
QtDicomVtk/x64/Release/QtDicomVtk.tlog/link.command.1.tlog
QtDicomVtk/x64/Release/QtDicomVtk.tlog/link.read.1.tlog
QtDicomVtk/x64/Release/QtDicomVtk.tlog/QtDicomVtk.write.1u.tlog
QtDicomVtk/QtDicomVtk.vcxproj.user
QtDicomVtk/QtDicomVtk.vcxproj.user
QtDicomVtk/x64/Release/main.obj
QtDicomVtk/x64/Release/moc/moc_QtDicomVtk.cpp
QtDicomVtk/x64/Release/moc_QtDicomVtk.obj
QtDicomVtk/x64/Release/qt_work.log
QtDicomVtk/x64/Release/QtDicomVtk.exe
QtDicomVtk/x64/Release/QtDicomVtk.obj
QtDicomVtk/x64/Release/QtDicomVtk.tlog/CL.command.1.tlog
QtDicomVtk/x64/Release/QtDicomVtk.tlog/CL.read.1.tlog
QtDicomVtk/x64/Release/QtDicomVtk.tlog/QtDicomVtk.write.1u.tlog
QtDicomVtk/x64/Release/uic/ui_QtDicomVtk.h
QtDicomVtk/x64/Release/QtDicomVtk.tlog/QtDicomVtk.write.1u.tlog
QtDicomVtk/x64/Release/QtDicomVtk.exe
QtDicomVtk/x64/Release/QtDicomVtk.obj
QtDicomVtk/data/vhf.1.dcm
QtDicomVtk/data/vhf.10.dcm
QtDicomVtk/data/vhf.100.dcm
QtDicomVtk/data/vhf.101.dcm
QtDicomVtk/data/vhf.102.dcm
QtDicomVtk/data/vhf.103.dcm
QtDicomVtk/data/vhf.104.dcm
QtDicomVtk/data/vhf.105.dcm
QtDicomVtk/data/vhf.106.dcm
QtDicomVtk/data/vhf.107.dcm
QtDicomVtk/data/vhf.108.dcm
QtDicomVtk/data/vhf.109.dcm
QtDicomVtk/data/vhf.11.dcm
QtDicomVtk/data/vhf.110.dcm
QtDicomVtk/data/vhf.111.dcm
QtDicomVtk/data/vhf.112.dcm
QtDicomVtk/data/vhf.113.dcm
QtDicomVtk/data/vhf.114.dcm
QtDicomVtk/data/vhf.115.dcm
QtDicomVtk/data/vhf.116.dcm
QtDicomVtk/data/vhf.117.dcm
QtDicomVtk/data/vhf.118.dcm
QtDicomVtk/data/vhf.119.dcm
QtDicomVtk/data/vhf.12.dcm
QtDicomVtk/data/vhf.120.dcm
QtDicomVtk/data/vhf.121.dcm
QtDicomVtk/data/vhf.122.dcm
QtDicomVtk/data/vhf.123.dcm
QtDicomVtk/data/vhf.124.dcm
QtDicomVtk/data/vhf.125.dcm
QtDicomVtk/data/vhf.126.dcm
QtDicomVtk/data/vhf.127.dcm
QtDicomVtk/data/vhf.128.dcm
QtDicomVtk/data/vhf.129.dcm
QtDicomVtk/data/vhf.13.dcm
QtDicomVtk/data/vhf.130.dcm
QtDicomVtk/data/vhf.131.dcm
QtDicomVtk/data/vhf.132.dcm
QtDicomVtk/data/vhf.133.dcm
QtDicomVtk/data/vhf.134.dcm
QtDicomVtk/data/vhf.135.dcm
QtDicomVtk/data/vhf.136.dcm
QtDicomVtk/data/vhf.137.dcm
QtDicomVtk/data/vhf.138.dcm
QtDicomVtk/data/vhf.139.dcm
QtDicomVtk/data/vhf.14.dcm
QtDicomVtk/data/vhf.140.dcm
QtDicomVtk/data/vhf.141.dcm
QtDicomVtk/data/vhf.142.dcm
QtDicomVtk/data/vhf.143.dcm
QtDicomVtk/data/vhf.144.dcm
QtDicomVtk/data/vhf.145.dcm
QtDicomVtk/data/vhf.146.dcm
QtDicomVtk/data/vhf.147.dcm
QtDicomVtk/data/vhf.148.dcm
QtDicomVtk/data/vhf.149.dcm
QtDicomVtk/data/vhf.15.dcm
QtDicomVtk/data/vhf.150.dcm
QtDicomVtk/data/vhf.16.dcm
QtDicomVtk/data/vhf.17.dcm
QtDicomVtk/data/vhf.18.dcm
QtDicomVtk/data/vhf.19.dcm
QtDicomVtk/data/vhf.2.dcm
QtDicomVtk/data/vhf.20.dcm
QtDicomVtk/data/vhf.21.dcm
QtDicomVtk/data/vhf.22.dcm
QtDicomVtk/data/vhf.23.dcm
QtDicomVtk/data/vhf.24.dcm
QtDicomVtk/data/vhf.25.dcm
QtDicomVtk/data/vhf.26.dcm
QtDicomVtk/data/vhf.27.dcm
QtDicomVtk/data/vhf.28.dcm
QtDicomVtk/data/vhf.29.dcm
QtDicomVtk/data/vhf.3.dcm
QtDicomVtk/data/vhf.30.dcm
QtDicomVtk/data/vhf.31.dcm
QtDicomVtk/data/vhf.32.dcm
QtDicomVtk/data/vhf.33.dcm
QtDicomVtk/data/vhf.34.dcm
QtDicomVtk/data/vhf.35.dcm
QtDicomVtk/data/vhf.36.dcm
QtDicomVtk/data/vhf.37.dcm
QtDicomVtk/data/vhf.38.dcm
QtDicomVtk/data/vhf.39.dcm
QtDicomVtk/data/vhf.4.dcm
QtDicomVtk/data/vhf.40.dcm
QtDicomVtk/data/vhf.41.dcm
QtDicomVtk/data/vhf.42.dcm
QtDicomVtk/data/vhf.43.dcm
QtDicomVtk/data/vhf.44.dcm
QtDicomVtk/data/vhf.45.dcm
QtDicomVtk/data/vhf.46.dcm
QtDicomVtk/data/vhf.47.dcm
QtDicomVtk/data/vhf.48.dcm
QtDicomVtk/data/vhf.49.dcm
QtDicomVtk/data/vhf.5.dcm
QtDicomVtk/data/vhf.50.dcm
QtDicomVtk/data/vhf.51.dcm
QtDicomVtk/data/vhf.52.dcm
QtDicomVtk/data/vhf.53.dcm
QtDicomVtk/data/vhf.54.dcm
QtDicomVtk/data/vhf.55.dcm
QtDicomVtk/data/vhf.56.dcm
QtDicomVtk/data/vhf.57.dcm
QtDicomVtk/data/vhf.58.dcm
QtDicomVtk/data/vhf.59.dcm
QtDicomVtk/data/vhf.6.dcm
QtDicomVtk/data/vhf.60.dcm
QtDicomVtk/data/vhf.61.dcm
QtDicomVtk/data/vhf.62.dcm
QtDicomVtk/data/vhf.63.dcm
QtDicomVtk/data/vhf.64.dcm
QtDicomVtk/data/vhf.65.dcm
QtDicomVtk/data/vhf.66.dcm
QtDicomVtk/data/vhf.67.dcm
QtDicomVtk/data/vhf.68.dcm
QtDicomVtk/data/vhf.69.dcm
QtDicomVtk/data/vhf.7.dcm
QtDicomVtk/data/vhf.70.dcm
QtDicomVtk/data/vhf.71.dcm
QtDicomVtk/data/vhf.72.dcm
QtDicomVtk/data/vhf.73.dcm
QtDicomVtk/data/vhf.74.dcm
QtDicomVtk/data/vhf.75.dcm
QtDicomVtk/data/vhf.76.dcm
QtDicomVtk/data/vhf.77.dcm
QtDicomVtk/data/vhf.78.dcm
QtDicomVtk/data/vhf.79.dcm
QtDicomVtk/data/vhf.8.dcm
QtDicomVtk/data/vhf.80.dcm
QtDicomVtk/data/vhf.81.dcm
QtDicomVtk/data/vhf.82.dcm
QtDicomVtk/data/vhf.83.dcm
QtDicomVtk/data/vhf.84.dcm
QtDicomVtk/data/vhf.85.dcm
QtDicomVtk/data/vhf.86.dcm
QtDicomVtk/data/vhf.87.dcm
QtDicomVtk/data/vhf.88.dcm
QtDicomVtk/data/vhf.89.dcm
QtDicomVtk/data/vhf.9.dcm
QtDicomVtk/data/vhf.90.dcm
QtDicomVtk/data/vhf.91.dcm
QtDicomVtk/data/vhf.92.dcm
QtDicomVtk/data/vhf.93.dcm
QtDicomVtk/data/vhf.94.dcm
QtDicomVtk/data/vhf.95.dcm
QtDicomVtk/data/vhf.96.dcm
QtDicomVtk/data/vhf.97.dcm
QtDicomVtk/data/vhf.98.dcm
QtDicomVtk/data/vhf.99.dcm
QtDicomVtk/data/vhf29.dcm
QtDicomVtk/x64/Release/QtDicomVtk.tlog/rcc.read.1u.tlog
QtDicomVtk/x64/Release/QtDicomVtk.tlog/rcc.read.1u.tlog
QtDicomVtk/QtDicomVtk.vcxproj
QtDicomVtk/QtDicomVtk.vcxproj.user
QtDicomVtk/data/vhf29.dcm
QtDicomVtk/x64/Release/QtDicomVtk.tlog/rcc.read.1u.tlog
QtDicomVtk/x64/Release/rcc/qrc_QtDicomVtk.cpp
QtDicomVtk/data/vhf29.dcm
QtDicomVtk/QtDicomVtk.vcxproj
QtDicomVtk/QtDicomVtk.vcxproj.user
QtDicomVtk/x64/Release/main.obj
QtDicomVtk/x64/Release/moc/moc_QtDicomVtk.cpp
QtDicomVtk/x64/Release/moc_QtDicomVtk.obj
QtDicomVtk/x64/Release/qmake/qtvars_x64_Release.props
QtDicomVtk/x64/Release/qmake/temp/qtvars.log
QtDicomVtk/x64/Release/qmake/temp/qtvars.vcxproj
QtDicomVtk/x64/Release/qmake/temp/qtvars_x64_Release.props
QtDicomVtk/x64/Release/qrc_QtDicomVtk.obj
QtDicomVtk/x64/Release/qt_work.log
QtDicomVtk/x64/Release/QtDicomVtk.Build.CppClean.log
QtDicomVtk/x64/Release/QtDicomVtk.exe
QtDicomVtk/x64/Release/QtDicomVtk.log
QtDicomVtk/x64/Release/QtDicomVtk.obj
QtDicomVtk/x64/Release/QtDicomVtk.tlog/CL.command.1.tlog
QtDicomVtk/x64/Release/QtDicomVtk.tlog/CL.read.1.tlog
QtDicomVtk/x64/Release/QtDicomVtk.tlog/link.command.1.tlog
QtDicomVtk/x64/Release/QtDicomVtk.tlog/link.read.1.tlog
QtDicomVtk/x64/Release/QtDicomVtk.tlog/QtDicomVtk.write.1u.tlog
QtDicomVtk/x64/Release/uic/ui_QtDicomVtk.h
QtDicomVtk/data/vhf29.dcm
QtDicomVtk/QtDicomVtk.vcxproj
QtDicomVtk/QtDicomVtk.vcxproj.user
QtDicomVtk/x64/Release/main.obj
QtDicomVtk/x64/Release/moc/moc_QtDicomVtk.cpp
QtDicomVtk/x64/Release/moc_QtDicomVtk.obj
QtDicomVtk/x64/Release/qmake/qtvars_x64_Release.props
QtDicomVtk/x64/Release/qmake/temp/qtvars.log
QtDicomVtk/x64/Release/qmake/temp/qtvars.vcxproj
QtDicomVtk/x64/Release/qmake/temp/qtvars_x64_Release.props
QtDicomVtk/x64/Release/qrc_QtDicomVtk.obj
QtDicomVtk/x64/Release/qt_work.log
QtDicomVtk/x64/Release/QtDicomVtk.Build.CppClean.log
QtDicomVtk/x64/Release/QtDicomVtk.exe
QtDicomVtk/x64/Release/QtDicomVtk.log
QtDicomVtk/x64/Release/QtDicomVtk.obj
QtDicomVtk/x64/Release/QtDicomVtk.tlog/CL.command.1.tlog
QtDicomVtk/x64/Release/QtDicomVtk.tlog/CL.read.1.tlog
QtDicomVtk/x64/Release/QtDicomVtk.tlog/link.command.1.tlog
QtDicomVtk/x64/Release/QtDicomVtk.tlog/link.read.1.tlog
QtDicomVtk/x64/Release/QtDicomVtk.tlog/QtDicomVtk.write.1u.tlog
QtDicomVtk/x64/Release/uic/ui_QtDicomVtk.h
