################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VtkQtDicom/.vs/VtkQtDicom/v16
/QtDicomVtk/.vs/QtDicomVtk/v16
/QtDicomVtk/x64/Debug
